$color-black: #000000;
$color-white: #ffffff;

// accents
$color-primary: #357797;
$color-secondary: #418bb1;

$color-success-primary: rgb(33, 160, 33);
$color-success-secondary: rgb(47, 184, 47);

// strokes
$color-stroke-primary: #e2e2e2;
$color-stroke-input: #e4e7eb;

// background
$background-color-primary: #ebebeb;
