#company-type {
  position: absolute;
  bottom: 80px;
  right: 15px;
  background-color: #D1A62B;
  padding: 10px 20px;
  z-index: 99999999999999;
  border: 2px solid #FEF997;
  color: #4D3904;
  text-transform: uppercase;
  font-weight: bold;
}