@import "./sidebar.scss";
@import "./menu.scss";
@import "./job.scss";
@import "./logs.scss";
@import "./level.scss";

$pixels: 2px;
$tile-size: 64px;
$room-padding: 10px;

#game-page {
  overflow: hidden;
  background-color: black;
  user-select: none;
}

#game-frame {
  position: relative;
  height: 100%;
}

#game {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#grid {
  position: absolute;
}

#dev {
  position: absolute;
  z-index: 999;
}

#objects {
  position: absolute;
}

#labels {
  position: absolute;
  z-index: 99999;
}

#frame {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  background-image: url("/developer-life-simulator/assets/frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 20px;
  position: absolute;
}

.map {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
  background-size: 100%;
  background-color: none;
  height: calc($tile-size * 10 + ($room-padding * 2));
  width: calc($tile-size * 10 + ($room-padding * 2));
  background-image: url("/developer-life-simulator/assets/tiles.png");
  cursor: pointer;
  position: relative;
  padding: $room-padding;
}

#information-pane {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  z-index: 2;
}

#balance {
  .pane-header {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

div#balance-amount {
  background-color: #5c584d;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
}

div#balance-amount::before {
  content: "$ ";
}

.header {
  position: relative;
  background-color: #367897;
  padding: 10px 5px;
  font-size: 14px;
  border-bottom: 3px solid #316c88;
  cursor: pointer;

  &[active="true"] {
    background-color: #367897;
  }

  &[active="false"] {
    background-color: #2c6a86;
    border-bottom: 3px solid #285970;
  }

  .title {
    text-align: center;
    margin: 0px;
    color: white;
    font-weight: bold;
  }

  button {
    position: absolute;
    text-align: center;
    top: calc((36px / 2) - (27px / 2));
    right: 5px;
    cursor: pointer;
    background-color: #bd3b2f;
    color: white;
    border: 1px solid rgb(71, 71, 71);
    padding: 5px 10px;
    border-radius: 2px;

    &:hover {
      background-color: #ca4134;
    }
  }
}

.progressbar {
  width: 100%;
  height: 30px;
  background-color: rgb(219, 219, 219);
  .bar {
    height: 30px;
    color: white;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 1px 15px -4px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0px 1px 15px -4px rgba(0, 0, 0, 0.25);
  }
}

.tutorial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #2c6a86;
  padding: 60px 20px;
  color: white;

  .tutorial-item {
    text-align: center;
    h1 {
      margin-bottom: 10px;
    }

    .description {
      max-width: 500px;
      margin: 0 auto;
    }

    .number-label {
      font-size: 30px;
      background-color: #367897;
      width: 70px;
      height: 70px;
      text-align: center;
      margin: 0px auto;
      margin-bottom: 20px;
      border-radius: 100%;
      padding: 20px;
      font-weight: bold;
    }
  }
}
