#logs {
  background: none;
  position: absolute;
  top: 50px;
  left: 100px;
  width: 360px;
  margin: 15px;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  row-gap: 5px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;

  .item {
    margin: auto 0;
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .heading {
      margin: auto 0;
      max-width: 300px;

      &[type="normal"] {
        color: rgb(236, 236, 236);
      };

      &[type="green"] {
        color: rgb(0, 214, 54);
      };

      &[type="red"] {
        color: rgb(214, 14, 0);
      };
    }

    .timestamp {
      margin: auto 0;
      color: #ead707;
      white-space: nowrap;
    }
  }
}
