#logs {
  color: black;
  position: absolute;
  top: 50px;
  left: 100px;
  width: 300px;
  margin: 15px;
  background-color: #ececec;
  padding: 1px;

  .item {
    justify-content: space-between;
    padding: 10px 5px;

    .timestamp {
      color: #367897;
      font-weight: bold;
    }
  }
}
