#logs {
  background-color: black;
  position: absolute;
  top: 50px;
  left: 100px;
  width: 300px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  max-height: 200px;
  overflow-y: auto;
  padding-right: 10px;

  .item {
    margin: auto 0;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .heading {
      margin: auto 0;
      color: rgb(236, 236, 236);
    }

    .timestamp {
      margin: auto 0;
      color: #ead707;
      white-space: nowrap;
    }
  }
}
