@import "../mixins/menu.scss";

.menu {
  .content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: auto;
    width: 100%;
  }
}

#job-menu {
  @include menu;

  .content {
    .job-item {
      width: calc(50% - 2px);
      margin: 1px;
      padding: 5px 2%;
      border: 1px solid #cfcfcf;
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      p {
        margin: 0px;
      }

      .company {
        color: #0a6691;
        margin: 5px 0px;
      }
    }
  }
}

#shop-menu {
  @include menu;

  .parent {
    display: flex;
    flex-direction: row;
    min-height: 300px;

    #sidebar {
      background-color: rgb(228, 228, 228);
      border-right: 1px solid rgb(216, 216, 216);
      padding: 2px 1px;
      width: 150px;

      .item {
        margin: 0px;
        padding: 10px 5px;
        font-size: 14px;
        color: #353535;
        margin: 1px 0px;
        cursor: pointer;
        border: 1px solid rgb(228, 228, 228);

        &[active="true"] {
          background-color: rgb(241, 241, 241);
          border: 1px solid rgb(204, 204, 204);
        }

        &:hover {
          &[active="false"] {
            background-color: rgb(241, 241, 241);
            border: 1px solid rgb(204, 204, 204);
          }
        }
      }
    }

    .content {
      .item {
        width: 21%;
        padding: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        cursor: pointer;
        flex-direction: column;
        row-gap: 5px;
        height: 150px;

        #item-buy {
          background-color: rgb(33, 160, 33);
          color: white;
          font-weight: 600;
          border: 2px solid rgb(29, 139, 29);
          padding: 5px 10px;
          font-size: 12px;
          border-radius: 3px;
          cursor: pointer;

          &:disabled {
            opacity: 0.2;
            cursor: not-allowed;
          }

          &:hover {
            background-color: rgb(47, 184, 47);
            border: 2px solid rgb(35, 136, 35);
          }
        }
      }
    }
  }
}
