@import "../mixins/sidebar.scss";

#info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  background-color: #5c584d;
  height: 100vh;
  padding: 5px 3px;
  width: 90px;
  row-gap: 5px;
  user-select: none;

  .button {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    opacity: 0.8;
    background-color: none;
    border-radius: 5px;
    padding: 5px 5px;

    &.open {
      background-color: #6b675d;
    }

    #content-shop {
      @include renderIcon("/developer-life-simulator/assets/shop.png");
    }

    #content-job {
      @include renderIcon("/developer-life-simulator/assets/job.png");
    }

    &:hover {
      opacity: 1;
    }

    p {
      text-transform: uppercase;
      margin: 0px;
      margin-top: 5px;
      color: rgb(238, 238, 238);
      font-weight: 600;
      font-size: 12px;
      text-align: center;
    }
  }
}
